<ul class="nav nav-pills" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#handler">Handler</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#atl">ATL</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#stml">STML</a></li>
</ul>
<div class="tab-content">
    <div id="handler" class="tab-pane active">
        <form>
            <div class="form-group">
                <label>Handler Source Area</label>
                <textarea type="text" class="form-control" col="80" rows="50" ng-model="handlerSource"></textarea>
            </div>
            <div class="form-inline">
                <label class="mr-sm-2" for="file">Handler Source File</label>
                <input type="file" id="handler_file">
                <button type="button" class="btn btn-primary" ng-click="fromFile('handler')">Load from File</button>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="handler()">Upload</button>
        </form>
    </div>
    <div id="atl" class="tab-pane fade">
        <form>
            <div class="form-group">
                <label>ATL Source Area</label>
                <textarea type="text" class="form-control" col="80" rows="50" ng-model="atlSource"></textarea>
            </div>
            <div class="form-inline">
                <label class="mr-sm-2" for="file">ATL Source File</label>
                <input type="file" id="atl_file">
                <button type="button" class="btn btn-primary" ng-click="fromFile('atl')">Load from File</button>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="atl()">Upload</button>
        </form>
    </div>
    <div id="stml" class="tab-pane fade">
        <form>
            <div class="form-group">
                <label>STML Source Area</label>
                <textarea type="text" class="form-control" col="80" rows="50" ng-model="stmlSource"></textarea>
            </div>
            <div class="form-inline">
                <label class="mr-sm-2" for="file">STML Source File</label>
                <input type="file" id="stml_file">
                <button type="button" class="btn btn-primary" ng-click="fromFile('stml')">Load from File</button>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="stml()">Upload</button>
        </form>
    </div>
</div>
