<div class="row">
  <form>
    <div class="form-group">
      <label>Source Area</label>
      <textarea type="text" class="form-control" col="80" rows="50"></textarea>
    </div>
    <div class="form-inline">
      <label class="mr-sm-2" for="file">Source File</label>
      <label class="custom-file mr-sm-2">
        <input type="file" id="file" class="custom-file-input">
        <span class="custom-file-control">Choose file...</span>
      </label>
      <button type="button" class="btn btn-primary">Load from File</button>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>
